<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="Secret.Santa@15below.com">
        <network host="morillon.15below.local" port="25" userName="" password="" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>